<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
 
  <servlet>
    <description></description>
    <display-name>ServletController</display-name>
    <servlet-name>ServletController</servlet-name>
    <servlet-class>controllers.ServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletController</servlet-name>
    <url-pattern>/ServletController</url-pattern>
  </servlet-mapping>
  <display-name>medicalia</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletMedico</display-name>
    <servlet-name>ServletMedico</servlet-name>
    <servlet-class>controllers.ServletMedico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMedico</servlet-name>
    <url-pattern>/ServletMedico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSanitario</display-name>
    <servlet-name>ServletSanitario</servlet-name>
    <servlet-class>controllers.ServletSanitario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSanitario</servlet-name>
    <url-pattern>/ServletSanitario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPaciente</display-name>
    <servlet-name>ServletPaciente</servlet-name>
    <servlet-class>controllers.ServletPaciente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPaciente</servlet-name>
    <url-pattern>/ServletPaciente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegistro</display-name>
    <servlet-name>ServletRegistro</servlet-name>
    <servlet-class>controllers.ServletRegistro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistro</servlet-name>
    <url-pattern>/ServletRegistro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGrabaRecetas</display-name>
    <servlet-name>ServletGrabaRecetas</servlet-name>
    <servlet-class>controllers.ServletGrabaRecetas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGrabaRecetas</servlet-name>
    <url-pattern>/ServletGrabaRecetas</url-pattern>
  </servlet-mapping>
</web-app>